In [1]:
#Q1. Explaining MongoDB, non-relational databases, and scenarios in which it is preferred to use MongoDB over SQL databases

MongoDB is an open-source NoSQL document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL database because the storage and retrieval of data in the MongoDB are not in the form of tables.

Non-relational databases, or NoSQL databases, stores data. However, unlike the relational database, there are no tables, rows, primary keys or foreign keys.  Instead, the non-relational database uses a storage model optimized for specific requirements of the type of data being stored. Some of the more popular NoSQL databases are MongoDB, Apache Cassandra, Redis, Couchbase and Apache HBase. They are used to save unstructured data.

### Scenarios in which MongoDB is preffered over SQL databases

* When we need high availability of data with automatic, fast and instant data recovery.
* In cases of ever-changing data schemas in our application, allowing us to add new types as business needs change. Thus reducing schema migration costs.
* Whenever there is an application using the features of cloud-computing and storage. This allows the data to be easily spread across multiple servers for scaling.
* For rapid development as it doesnâ€™t require the level of preparation typically needed for relational databases.

In [2]:
#Q2. Features of MongoDB

* <u><b>Schema-less Database:</b></u> In the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this MongoDB provides great flexibility to databases.


* <u><b>Document Oriented:</b></u> In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS, each document contains its unique object id.

* <u><b>Indexing:</b></u> In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

* <u><b>Scalability:</b></u> MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

* <u><b>Replication:</b></u> MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

* <u><b>Aggregation:</b></u> It allows to perform operations on the grouped data and get a single result or computed result.

* <u><b>High Performance:</b></u> The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

In [3]:
#Q3. Python code to connect MongoDB to Python and creating a database and a collection in MongoDB

pip install pymongo                                  # Running this on command line to install pymongo module if not already installed

In [4]:
# Code to connect MongoDB to Python

from pymongo.mongo_client import MongoClient

client = MongoClient("mongodb+srv://sankalpaguchhait11dpsm:yzfukN1mO5mrXQN5@cluster0.ptisum3.mongodb.net/?retryWrites=true&w=majority")

# Creating a MongoDB database named 'school'

school_data_base = client['school']

# Creating a collection named 'student details' under the 'school' database

student_details_collection = school_data_base['student_details']

In [5]:
#Q4. Inserting records into the collection created in question 3 and using the find() and find_one() methods to print the inserted record

data_1 = {
    
    '_id': '00041T70AQX',
    'name': 'Poonam Dora',    
    'address': '200 Osborne Road, Hornchurch RM11 1HL',
    'phone_number': 8361044496,
    'colony': 'JB Nagar'
    
}

data_2 = [
    
    {
        '_id': '000ZZQG0AQX', 
        'name': 'Madhu Malpani',   
        'address': '4 Carr View, Trawden BB8 8SQ',
        'phone_number': 6128909272,
        'colony': 'Seven Bungalows'
    },
    
    {
        '_id': '000S2HI0AQX',
        'name': 'Bharat Sethi', 
        'address': '8 High Street, Wanstead E11 2AJ',
        'phone_number': 7887786653,
        'colony': 'Saint Andrew Road'
    },
    
    {
        '_id': '00087A00AQX',
        'name': 'Drishti Kalla', 
        'address': '19 Malham Drive, Harrogate HG3 2YQ',
        'phone_number': 6127992371,
        'colony': 'Versova'
    },
    
    {
        '_id': '0004LVQ0AQX',
        'name': 'Suresh Mehra',
        'address': '35 Ashmore Road, Birmingham B30 2HB',
        'phone_number': 7931368451,
        'colony': 'Versova'
    },
    
    {
        '_id': '000F34J0AQX',
        'name': 'Mridula Suri',
        'address': '94 North Hyde Road, Hayes UB3 4NG',
        'phone_number': 7979977189,
        'colony': 'WEH Western Express Highway'
    }
    
]

student_details_collection.insert_one(data_1)        # Inserting one record
student_details_collection.insert_many(data_2)       # Inserting many records

print('Printing the first document of the collection: \n')
print(student_details_collection.find_one())         # This returns only the first document in the collection
print('\n ------------------------------------------------------------------------------------------------------------------------------------------------------- \n')

# To print all the documents in the collection we iterate over the collection documents using find()

print('Printing all the documents in the collection: \n')
for student_details in student_details_collection.find():
    print(student_details)
print('\n ------------------------------------------------------------------------------------------------------------------------------------------------------- \n')

Printing the first document of the collection:

{'_id': '00041T70AQX', 'name': 'Poonam Dora', 'address': '200 Osborne Road, Hornchurch RM11 1HL', 'phone_number': 8361044496, 'colony': 'JB Nagar'}

 -------------------------------------------------------------------------------------------------------------------------------------------------------

Printing all the documents in the collection:

{'_id': '00041T70AQX', 'name': 'Poonam Dora', 'address': '200 Osborne Road, Hornchurch RM11 1HL', 'phone_number': 8361044496, 'colony': 'JB Nagar'}
{'_id': '000ZZQG0AQX', 'name': 'Madhu Malpani', 'address': '4 Carr View, Trawden BB8 8SQ', 'phone_number': 6128909272, 'colony': 'Seven Bungalows'}
{'_id': '000S2HI0AQX', 'name': 'Bharat Sethi', 'address': '8 High Street, Wanstead E11 2AJ', 'phone_number': 7887786653, 'colony': 'Saint Andrew Road'}
{'_id': '00087A00AQX', 'name': 'Drishti Kalla', 'address': '19 Malham Drive, Harrogate HG3 2YQ', 'phone_number': 6127992371, 'colony': 'Versova'}
{'_id': '0004LVQ0AQX', 'name': 'Suresh Mehra', 'address': '35 Ashmore Road, Birmingham B30 2HB', 'phone_number': 7931368451, 'colony': 'Versova'}
{'_id': '000F34J0AQX', 'name': 'Mridula Suri', 'address': '94 North Hyde Road, Hayes UB3 4NG', 'phone_number': 7979977189, 'colony': 'WEH Western Express Highway'}

 -------------------------------------------------------------------------------------------------------------------------------------------------------

In [6]:
#Q5. The use of find() method to query the MongoDB database and a simple code to demonstrate this

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one. It takes only some optional parameters. The first optional parameter is the selection criteria on which we want to return a cursor. To return all documents in a collection use empty document({}).

#### Syntax :-

    Data_base_name.Collection_name.find(selection_criteria, projection, options)

#### Optional parameters :-

* <b>Selection_criteria:</b> It specifies selection criteria. To return all documents in a collection use empty document({}). The type of this parameter is document.

* <b>Projection:</b> It specifies the fields to return in the documents that match the selection criteria. To return all fields in the matching documents, we remove this parameter. It is of the document type.

* <b>Options:</b> It specifies some additional options for the selection_criteria parameter. It modifies the behavior of selection_criteria and also affects the results that will be returned.

In [7]:
# Code to query the documents of the students in the collection, 'student_details_collection', who live in 'Versova' colony

for students in student_details_collection.find({'colony': 'Versova'}):
    
    print (students)                                # To print the students who meet the condition of living in 'Versova' colony

{'_id': '00087A00AQX', 'name': 'Drishti Kalla', 'address': '19 Malham Drive, Harrogate HG3 2YQ', 'phone_number': 6127992371, 'colony': 'Versova'}
{'_id': '0004LVQ0AQX', 'name': 'Suresh Mehra', 'address': '35 Ashmore Road, Birmingham B30 2HB', 'phone_number': 7931368451, 'colony': 'Versova'}

In [8]:
#Q6. The use of sort() method along with an example to demonstrate it

To sort documents in MongoDB, we use sort() method. The method accepts a document containing a list of fields along with their sorting order. To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

#### Syntax :-

    Data_base_name.Collection_name.find().sort(KEY, 1)

In [9]:
# Code to sort the names of the students in the collection, 'student_details_collection', lexicographically

for students in student_details_collection.find({}, {'name': 1, '_id': 0}).sort('name', 1):
    print (students)

{'name': 'Bharat Sethi'}
{'name': 'Drishti Kalla'}
{'name': 'Madhu Malpani'}
{'name': 'Mridula Suri'}
{'name': 'Poonam Dora'}
{'name': 'Suresh Mehra'}

In [10]:
#Q7. Use of delete_one(), delete_many(), and drop()

### Use of the methods :-

|<b>Method name</b>|<b>Use</b>|
|---|---|
|<b>delete_one()</b>|It accepts a query object specifying the condition for deleting documents. The detele_one() method deletes a single document, in case of a match. If no query is specified this method deletes the first document in the collection.|
|<b>delete_many()</b>|It accepts a query object specifying the condition for deleting documents. It deletes all the documents that satisfies the specified condition. If we invoke the delete_many() method without passing any query, this method deletes all the documents in the collection.|
|<b>drop()</b>|This method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections. This method does not take any argument and produces an error when it is called with an argument.|