In [1]:
#Q1. Defining databases and the differences between SQL and NoSQL databases

Databases are organised collections of structured information or data stored electronically in a computer system. They are controlled by DBMS(Database Management Systems). They are usually modeled in rows and columns in a series of 
tables.

Data in databases can be easily accessed, managed, modified, updated, controlled, and organised. Usually databases use SQL(Structured Query Languages) for writing and quesrying datta.

<h1 style = 'text-align: center;'> Differences between SQL and NoSQL Databases </h1>

| SQL | NoSQL |
| --- | --- | 
|<p style = 'text-align: center;'>They use relational database management systems(RDMS).</p>|<p style = 'text-align: center;'>They use non-relational or distributed database systems.</p>|
|<p style = 'text-align: center;'>SQL databases require us to use predefined schemas to determine the structure of our data before we work on it. The data must follow the same structure.</p>|<p style = 'text-align: center;'>NoSQL databases have a dynamic schema for unstrcutured data. Their data can be stored in many ways, which means it can be document-oriented, column-oriented, graph-based, or organised as a key-value store. The documents thus can be created without having a predefined structure.</p>|
|<p style ='text-align: center;'>These are vertically scalable.</p>|<p style ='text-align: center;'>These are horizontally scalable.</p>|
|<p style ='text-align: center;'>These are not well suited for hierarchical data storage.</p>|<p style ='text-align: center;'>They are best suited for hierarchical data storage.</p>|
|<p style ='text-align: center;'>They are best suited for complex queries.</p>|<p style ='text-align: center;'>They are not so good for executing complex queries.</p>|
|<p style ='text-align: center;'>They follow ACID properties (Atomicity, Consistency, Isolation, and Durability).</p>|<p style ='text-align: center;'>They follow CAP theorem (Consistency, Availability, and Partition tolerance).</p>|

In [2]:
#Q2. Defining DDL along with explaining the use of CREATE, DROP, ALTER, and TRUNCATE along with examples

DDL(Data Description Language or Data definition Language) is a set of SQL commands used to create, modify, and delete database objects rather than data. These database objects include views, schemas, tables, indexes, etc.

### Use of CREATE :-

CREATE statement is used to create new objects in our data warehouse. The most common objects created with CREATE statements are tables, schemas, views and functions.

Example :-

MySQL query for creating a table to store details of customers in a database called Customers.

"CREATE TABLE IF NOT EXISTS Customers.Customer_Details(Customer_ID INT(15) PRIMARY KEY, Customer_name VARCHAR(50), Country VARCHAR(50), Age INT(2), Phone_number INT(10))"

### Use of DROP :-

DROP statement in SQL is used to remove a component from a relational database management system(RDMS). DROP destroys objects like an existing databases, table, imdex, or view.

Example :-

MySQL query for deleting a table containing details of customers.

"DROP TABLE IF EXISTS Customers_Details"

### Use of ALTER :-

ALTER in SQL can change any object in our database that already exists. By using ALTER we can add new, remove, and rename columns to views and tables. We can also rename a view or table, modify the structure of a view or table, etc.

Example :-

MySQL query for adding a new column for email in the table containing details of customers in Customers database.

"ALTER TABLE Customers.Customer_Details ADD email VARCHAR(255)"

### Use of TRUNCATE :-

TRUNCATE command in SQL is used to remove all rows from a table while maintaining the underlying structure. TRUNCATE is applicable only for table objects in a database. TRUNCATE does not remove the actual table from the database, just the data stored in them.

Example :-

MySQL query for truncating a table containing details of customers in the database Customers.

"TRUNCATE TABLE Customers.Customer_Details"

In [3]:
#Q3. Defining DML along with explaining the use of INSERT, UPDATE, and DELETE along with examples

DML(Data Manipulation Language) is a set of SQL commands which deal with accessing and manipulating data present in the database. They are used to query, edit, add and delete row-level data from database tables or views.

### Use of INSERT :-

INSERT command is used to insert rows or values into all the rows or in specific rows into already available tables.

Example :-

MySQL query for adding a row of values into the table containing details of customers in Customers database.

"INSERT INTO Customers.Customer_Details VALUES (81324, 'Sampoorna', 'India', 19, 7002920121, 'email_123@gmail.com')"

### Use of UPDATE :-

UPDATE command is used to change the actual data in existing rows in a table.

Example :-

MySQL query for changing 'email' value where 'Customer_name' value is 'Sampoorna' of the table containing details of customers in Customers database.

"UPDATE Customers.Customer_Details SET email = 'sampoorna@gmail.com' WHERE Customer_name = 'Sampoorna'"

### Use of DELETE :-

DELETE command can be used to delete existing records in a table. We can delete a single record or multiple records depending on the condition we specify in the WHERE clause.

Example :-

MySQL query for deleting the rows where 'Customer_name' value is 'Sampoorna' from the table containing details of customers in Customers database.

"DELETE FROM Customers.Customer_Details WHERE Customer_name = 'Sampoorna'"

In [4]:
#Q4. Defining DQL along with explaining the use of SELECT along with example

DQL(Data Query Language) are a component of SQL statement that allows getting data from the database and imposing order upon it. They are used for performing queries on the data within schema objects. Their purpose is to get some schema relation based on the query passed to it.

### Use of SELECT :-

SELECT is used to retrieve or fetch data from a database. It allows us to access and manipulate data that exists in database objects. We use SELECT statements to create queries to build data models and perform robust analysis.

Example :-

MySQL statement for fetching the entire table or all the attributes of the table containing details of customers in Customers database.

SELECT * FROM Customers.Customer_Details

In [5]:
#Q5. Explaining Primary Key and Foreign Key

### Primary Key :-

The primary key in SQL is a single, or a group of fields or columns that can uniquely identify a row in a table. It is a column that accepts unique values for each row. They do not accept duplicate values and each primary key uniquely identifies each field.

### Foreign Key :-

A foreign key is a column or columns in a database that (e.g. table_1.column_a) are linked to a column in a different table (table_2.column_b). The existence of a foreign key column establishes a foreign key constraint – a database rule that ensures that a value can be added or updated in column_a only if the same value already exists in column_b. 

Foreign keys help define the relationships between tables. They allow developers to maintain referential integrity across their database. Foreign keys also help end-users by preventing errors and improving the performance of any operation that’s pulling data from tables linked by indexed foreign keys.

In [6]:
#Q6. Python code to connect MySQL to Python and explaining the cursor() and execute() method

# Python code to connect MySQL to Python :-

pip install mysql-connector-python        # Installing sql connector module if not already installed in the local device

import mysql.connector

my_conn = mysql.connector.connect(
    
  host="localhost",                       # Host IP
  user="myusername",                      # Username
  password="password"                     # Password
    
)

print(my_conn)                            # Printing connection object

#### cursor() Method :-

The 'cursor()' method is used to create a Cursor object of the connection object/class. A cursor is an object which helps to execute the SQL query and fetch the records from MySQL database.

#### execute() Method :-

The 'execute()' method accepts a MySQL query as a parameter and executes the given query.

In [7]:
#Q7. Order of execution of SQL clauses in an SQL query

SQL queries adhere to a specific order when evaluating clauses. Order in which the clauses in queries are executed is as follows:-

|Order|Clause|Function|
|---|---|---|
|1|FROM/JOIN|Executed first to determine the data of interest|
|2|WHERE|Executed to filter out records that do not meet the constraints|
|3|GROUP BY|Executed to group the data based on the values in one or more columns|
|4|HAVING|Executed to remove the created grouped records that don’t meet the constraints|
|5|SELECT|Executed to derive all desired columns and expressions|
|6|ORDER BY|Executed to sort the derived values in ascending or descending order|
|7|LIMIT/OFFSET|Executed to keep or skip a specified number of rows|