In [1]:
#Q1 i. 1 variable containing string data type
s="classroom"
type(s)

str

In [2]:
#Q1 ii. 1 variable containing list data type
l=[58, 77, "chair", False, 8+5j]
type(l)

list

In [3]:
#Q1 iii. 1 variable containg float data type
f=98.88
type(f)

float

In [4]:
#Q1 iv. 1 variable containg tuple data type
t=(20, "chair", 9.9)
type(t)

tuple

In [5]:
#Q2 i. Identify data type of a variable containing given data type
var1=''
type(var1)

str

In [6]:
#Q2 ii. Identify data type of a variable containing given data type
var2='[DS, ML, Python]'
type(var2)

str

In [7]:
#Q2 iii. Identify data type of a variable containing given data type
var3=['DS', 'ML', 'Python']
type(var3)

list

In [8]:
#Q2 iv. Identify data type of a variable containing given data type
var4=1
type(var4)

int

In [9]:
#Q3 i. Explain the use of '/' operator with example.
""" This is known as the divisional operator (divisor) which divides the number on the left by the number on the right and returns the quotient as a floating point value. Hence, it is an arithmetic operator. """
#Example
c=50/2
print(c)

25.0

In [10]:
#Q3 ii. Explain the use of '%' operator with example.
""" This is known as the modulus operator which divides the number on the left by the number on the right and returns the remainder as an integer value. Hence, it is an arithmetic operator. """
#Example
c=25%4
print(c)

1

In [11]:
#Q3 iii. Explain the use of '//' operator with example.
""" This is known as the floor division operator which divides the number on the left by the number on the right and returns the quotient rounded off to its nearest smallest whole number. Hence, it is an arithmetic operator. """
#Example
c=8//3
print(c)

2

In [12]:
#Q3 iv. Explain the use of '**' operator with example.
""" This is the exponential power operator where a number on the left is multiplied by itself a certain number of times, i.e., the number on the right. Hence, it is an arithmetic operator. """
#Example
c=4**3
print(c)

64

In [13]:
#Q4. Creating a list of length 10 and printing elements and their type using for loop.
l=[55, 78, "classroom", 28.75, "0.001", False, 9+2j, "laptop", 5.9, True]
for i in l:
    print(i)
    c=type(i)
    print(c)

55
<class 'int'>
78
<class 'int'>
classroom
<class 'str'>
28.75
<class 'float'>
0.001
<class 'str'>
False
<class 'bool'>
(9+2j)
<class 'complex'>
laptop
<class 'str'>
5.9
<class 'float'>
True
<class 'bool'>

In [14]:
#Q5. Verifying if number A is purely divisible by number B and if so, how many times, using while loop
A=input('Enter number A')
B=input('Enter number B')
c=int(A)
d=int(B)
count=0
while c%d==0:
    c=c//d
    count+=1
if(count>0):
    print(f'{A} is divisible by {B}, {count} number of times')
else:
    print(f'{A} is not divisible by {B}')

Enter number A 24
Enter number B 3

24 is divisible by 3, 1 number of times

In [15]:
#Q6. Creating a list having 25 int type data and using for loop and if else condition to print wether it is divisible by 3 or not.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
for i in l:
    if(i%3==0):
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [16]:
#Q7. Mutability in python with example.
""" Mutability:- It is the property of an object that can change/ modify or regarded as changeable in nature. In python, objects can change their values and are utilised to store data and the internal state and its position index can be changed. """
l=[21, 55.4, "chair", True, 9+3j, "laptop"]
l[4]=99
print(l)

[21, 55.4, 'chair', True, 99, 'laptop']

In [17]:
#Q7. Immutability in python with example.
""" Immutability:- They are objects that do not change their values and attributes over time. These objects are permanent once they are created and initialised and form critical part of data structures. """
t=(0, 1.1, 2, "chair", True)
t[3]="desk"
print(t)

TypeError: 'tuple' object does not support item assignment