In [1]:
#Q1. Sorting the given list of tuples based on the integer values using a lambda function

lst_1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

lst_1.sort(key=lambda x: x[1])
print(lst_1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
#Q2. Finding squares of all numbers in the given list using lambda and map functions

lst_2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sq_num_lst = list(map(lambda x: x**2, lst_2))
print(sq_num_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Q3. Converting the given list of integers into a tuple of strings

lst_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

st_conv_lst = tuple(map(lambda x: str(x), lst_3))
print(st_conv_lst)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
#Q4. Using reduce function to compute the product of a list of numbers from 1 to 25

from functools import reduce

lst_4 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

fac = reduce(lambda x, y: x*y, lst_4)
print(fac)

15511210043330985984000000

In [5]:
#Q5. Filtering the numbers from the list which are divisible by both 2 and 3 using filter function

lst_5 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

d_lst = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, lst_5))
print(d_lst)

[6, 60, 90, 120]

In [6]:
#Q6. Finding palindromes in the given list of strings using lambda and filter function

lst_6 = ['python', 'php', 'aba', 'radar', 'level']

pali_list = list(filter(lambda x: x == x[::-1], lst_6))
print(pali_list)

['php', 'aba', 'radar', 'level']